.admin_container {
    display: flex;
    min-height: 100vh;
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: 'Poppins', sans-serif;
  }
  
  .main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  