.navigations{
    display: flex;
    flex-direction: column;
    height: 94vh;
}
.navigations a{

    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20px;
    font-size: 19px;
    margin-top:30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid whitesmoke;

  
}
.navigations a svg{
    font-size: 30px;
    margin-right: 5px;
    margin-top: -7px;
}
.sideBar{
    width: 220px;
    background-color: white;
   }
  
.sideBar header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 1px solid lightgray;
    
}
.sideBar .navigations a{
    text-decoration: none;
    color: black;

}